@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-green-banner{
    background-color: #82cfbb
};


.hoverMenu:hover{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}